/*Variables */

$color-dark: #131313;
$color-light: #fff;
$color-draw: #c24E00;
$color-start: #2ECC71;
$color-end: #E74C3C;

$font-main: 'Source Sans Pro', sans-serif;
$font-size-title: 24px;
$font-size-subtitle: 18px;
$font-size-desription: 16px;
